@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins&display=swap");
body {
    /* padding: 10px; */
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100vh;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #355a15;
}

.bg-darkblue {
    background-color: #151F28;
    color: white;
}

.navbar-content {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    margin-bottom: 1000px;
}

.nav-text {
    text-align: right;
    font-size: 12px;
    margin-bottom: 0;
}

.nav-btn {
    padding: 8px;
    border-radius: 10px;
    background-color: #e0e0e0;
}

.page-main-content {
    padding-top: 150px;
}

footer {
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
    margin-top: 100px;
    color: whitesmoke
}

footer li {
    list-style-type: none;
}


/* style for homepage */

.main-content {
    margin-top: 70px;
    margin-bottom: 50px;
}

iframe {
    margin-top: 10px;
}

.introduction {
    font-size: 13px;
    text-align: justify
}

.main-btn {
    color: white;
    font-size: 16px;
    background-color: #355a15;
    /* background-color: #92817a; */
    padding: 10px 15px
}

#carouselExampleIndicators {
    width: 550px;
    margin: 0 auto;
}


/* style for menu */

.menu-introduction {
    font-size: 14px;
    text-align: center;
    margin: 50px;
}

.menu-introduction>p {
    margin: 10px 100px 0
}

.menu-section-title h4 {
    text-align: center;
    margin: 20px
}

.card-title {
    font-weight: bold;
}

.card-body {
    font-size: 12px;
}

.card {
    margin: 15px
}


/* style for reservation */

.reservation-description {
    text-align: center;
    margin: 50px 0
}

.reservation-description p {
    margin: 30px 150px 0
}

.reservation-btn {
    color: white;
    font-size: 16px;
    background-color: #355a15;
    /* background-color: #92817a; */
    padding: 10px
}

input[type=number],
input[type=date],
input[type=time] {
    font-size: 14px;
}


/* style for about us */

.mg-top-bottom {
    margin: 70px 0;
    display: flex;
    align-items: center;
}

.mg-top-bottom .col-6 {
    text-align: justify;
}